<!-- Герой -->
<section class="hero">
  <div class="container">

    <div class="hero__general--top">
      <div class="hero__info">
        <h1 class="hero__title--top">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero__title--descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
          enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
          diam libero vitae erat.</p>
        <button class="hero__btn">Order Now</button>
      </div>

      <div class="hero__foto--top">

        <div class="hero__slider--but-l">
          <svg  class="hero__vector--left" >
            <use  class="hero__vector--color" href="./images/sprite.svg#arrow-left" ></use>
          </svg>
        </div>
      <picture>
        <source srcset="./images/hero/hero1_768@1x.png 1x, ./images/hero/hero1_768@2x.png 2x" media="(min-width: 768px)"/>
        <source srcset="./images/hero/hero1_1200@1x.png 1x, ./images/hero/hero1_1200@2x.png 2x" media="(min-width: 1200px)"/>
        <img class="hero__foto--size" src="./images/hero/hero1_1200@1x.png" alt="Фото блюда"/>
      </picture>
        <div class="hero__slider--but-r">
        <svg  class="hero__vector--left" >
          <use class="hero__vector--color" href="./images/sprite.svg#arrow-right"></use>
        </svg>
        </div>
      </div>
    </div>
  </div> 
  
</section>  