<section class="subscribe">
  <div class="container">
    <picture class="subscribe__image">
      <source
        srcset="
          ./images/subscribe/banana@1x_lg.png 1x,
          ./images/subscribe/banana@2x_lg.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/subscribe/banana@1x_md.png 1x,
          ./images/subscribe/banana@2x_md.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/subscribe/banana@1x_sm.png 1x,
          ./images/subscribe/banana@2x_sm.png 2x
        "
        media="(max-width: 767px)"
      />
      <img src="./images/subscribe/banana@1x_sm.png" alt="yellow banana" />
    </picture>
    <div class="subscribe__wrap">
      <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
      <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form class="subscribe__form">
        <label class="subscribe__label">
          <input
            class="subscribe__input"
            name="email"
            required
            type="email"
            required
            placeholder="Enter your email"
            required
          />
          <div class="error__wrap error__wrap--subscribe">
            <svg class="error__icon" width="12" height="12">
              <use href="./images/sprite.svg#error_sign"></use>
            </svg>
            <span class="error__text"
              >Not a valid email address (example@email.com)</span
            >
          </div>
        </label>
        <!-- <button class="subscribe__btn" type="submit">Subscribe</button> -->

        <button class="subscribe__btn" type="submit">
          <span class="default">Subscribe</span>
          <span class="success">
            <svg viewBox="0 0 16 16">
              <polyline points="3.75 9 7 12 13 5"></polyline>
            </svg>
            Done
          </span>
          <svg class="trails" viewBox="0 0 33 64">
            <path
              d="M26,4 C28,13.3333333 29,22.6666667 29,32 C29,41.3333333 28,50.6666667 26,60"
            ></path>
            <path
              d="M6,4 C8,13.3333333 9,22.6666667 9,32 C9,41.3333333 8,50.6666667 6,60"
            ></path>
          </svg>
          <div class="plane">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </button>
      </form>
    </div>
  </div>
</section>
