.header {
  background-color: var(--bgc-secondary);
}
.header__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  border: none;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.btn-menu__link {
  background-color: var(--bgc-secondary);
}
.btn-menu__svg {
  fill: var(--dark-green);
  transition: fill var(--animation);
  .btn-menu:hover &,
  .btn-menu:focus & {
    fill: var(--yellow-main);
  }
}
.nav-wrap {
  display: flex;
  align-items: baseline;
  gap: 28px;
  margin-left: auto;
}
.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
  }
}

.nav__list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    gap: 28px;
  }
  @media screen and (min-width: $desktop) {
  }
}

.nav__link {
  line-height: calc(16 / 14);

  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;

  color: var(--secondary-text-color);
  background-color: var(--bgc-secondary);

  display: block;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--btn-default);
  }

  @media screen and (min-width: $tablet) {
    padding-left: 0;
    padding-top: 28px;
    padding-bottom: 28px;

    font-size: 14px;
    line-height: calc(16 / 14);

    color: var(--secondary-text-color);
    background-color: var(--bgc-secondary);

    transition: color var(--animation), background-color var(--animation);

    &:hover,
    &:focus {
      color: var(--btn-default);
      background-color: var(--bgc-secondary);
      text-decoration: underline;
    }
  }
}
.btn-order {
  width: 100px;
  height: 32px;

  display: inline-flex;
  border-radius: 30px;

  font-size: 14px;
  letter-spacing: calc(21 / 14);
  color: var(--main-text-color);
  border: none;
  background-color: var(--btn-default);
  transition: background-color, var(--animation);

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      background-color: var(--btn-onhover);
    }
  }
}
