.container{
    
    background-color: #F5F5F5;
}

.hero__general--top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    // flex-direction: column; 

    @media screen  and (min-width: 320px){
        flex-direction: column;
        
    }
    @media screen  and (min-width: 1280px){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.hero__info{
    
    @media screen  and (min-width: 320px){
        width: 280px;    
    }
    @media screen  and (min-width: 768px){
        width: 704px;    
    }
    @media screen  and (min-width: 1280px){
        width: 502px;
    }
}

.hero__title--top{
    color: var(--main-text-color);  
    @media screen  and (min-width: 320px){
        margin-top: 60px;
        font-size: 28px;
        line-height: 33px;   
    } 
    @media screen  and (min-width: 768px){
        width: 537px;
        font-size: 42px;
        line-height: 120%;    
    }
    @media screen  and (min-width: 1280px){
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        margin-top: 158px;
        width: 503px;

    }
}

.hero__title--descript{
    color: var(--main-text-color);
    @media screen  and (min-width: 320px){
        font-size: 14px;
        margin-top: 28px;
        margin-bottom: 28px;    
    } 
    @media screen  and (min-width: 768px){
        width: 336px; 
        font-weight: 400;
        font-size: 16px;
        line-height: 150%; 
        margin-top: 44px;
        margin-bottom: 40px;
    }
    @media screen  and (min-width: 1280px){
        margin-top: 28px;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        width: 503px; 

    }

}
.hero__foto--top{
    position: relative;
    border-radius: 50%;
    
    @media screen  and (min-width: 320px){
        display: none;    
    } 
    @media screen  and (min-width: 768px){
        display: block;
        width: 336px;
        height: 320px;
        border: 14px solid var(--yellow-main);
        
        position: absolute;
        top: 135px;
        left: 370px;
    }
    @media screen  and (min-width: 1280px){
        display: block;
        
        position: relative;
        border: 26px solid var(--yellow-main);
        margin-right: 14px;
        width: 580px;
        height: 580px;
        top: 14px;
        left: 0px;

    }
}

.hero__foto--size{
    width: 580px;
}

.hero__slider--but{
    border: none;
    position: absolute;
    right: 545px;
    top: 259px;
    background: var(--bgc-main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    transform: rotate(0deg);
    align-items: center;
    &:hover .hero__vector--color{
        fill:  var(--dark-green);
    }
    @media screen  and (min-width: 768px){
        right: 300px;
        top: 135px;
        height: 28px;
        width: 34px;
    }
    @media screen  and (min-width: 1280px){
        right: 520px;
        top: 250px;
        height: 40px;
        width: 48px;
    }

}
.but-r{ 
    @media screen  and (min-width: 768px){
        right: -25px;
        top: 135px;
        
    }
    @media screen  and (min-width: 1280px){
        right: -40px;
        top: 250px;
        height: 40px;
    } 
}

.hero__vector--color{

    fill: var(--main-text-color);
    &:hover{
        fill: var(--dark-green);
    }
}
.hero__vector{
    @media screen  and (min-width: 768px){
        transform: translate(-13px, 0px);
        height: 30px;
        width: 45px;
        
    }
    @media screen  and (min-width: 1280px){
        
        transform: translate(-6px, 2px);
        height: 40px;
        width: 45px;
    }
}

.hero__btn{
    background: var(--btn-default);
    text-align: right;
    color: var(--main-text-color);
    border: none;
    height: 32px;
    width: 100px;
    text-align: center;
    @extend %btn;
    @media screen  and (min-width: $tablet){
        margin-bottom: 738px;
        
    }
    @media screen  and (min-width: 1280px){
        margin-bottom: 164px;
    }

    &:hover{
        background-color: var(--btn-onhover);
    }   
}

